# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/

API/__pycache__/
API/Middlewares/__pycache__/
API/Routes/__pycache__/
Authentication/__pycache__/
core/__pycache__/
core/dbs/__pycache__/
model/__pycache__/
repository/__pycache__/
services/__pycache__/
Websockets_handling/__pycache__/
Websockets_handling/ConnectionManager/__pycache__/
init-keycloak-db/
postgres_data/
test_frontend/

.env

quill_db_backup.sql
backup.sql
backup1.sql
backup2.sql
bb.sql
auth.html
auth.py
docrepo2test.py
docrepo2test1.py
docservice3_test.py
docservice3_test1.py
websockets_test.py
requirements.txt
full-config1.json
export.py
Dockerfile
.dockerignore

